{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}
<form method="post">
    <div class="container mt-5">
    <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
    <textarea type="text" name="intro" id="intro" class="form-control" placeholder="Введите анонс"></textarea><br>
    <textarea type="text" name="text" id="text" class="form-control" placeholder="Введите текст"></textarea><br>
    <input align="right" type="submit" class="gradient-button" value="Send">
    </div>
</form>
{% endblock %}